@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-base: 'Cormorant Upright', serif;
  --font-alt: 'Open Sans', sans-serif;
  --color-light-blue: #9298f7ea;
  --color-dark-blue: #0411c9ea;
  --color-black: #030303;
  --color-grey: #aaa;
  --color-white: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

nav {
  font-family: var(--font-alt);
  background: rgb(42, 52, 77);
  background: linear-gradient(90deg, rgba(42, 52, 77, 1) 0%, rgba(6, 12, 28, 1) 100%);
}

.bg-weird-blue {
  background: rgb(42, 52, 77);
  background: linear-gradient(90deg, rgba(42, 52, 77, 1) 0%, rgba(6, 12, 28, 1) 100%);
}

.alt {
  font-family: var(--font-alt);
}

.base {
  font-family: var(--font-base);
}

svg {
  margin: 0 auto auto;
  width: 100%;
  height: auto;
}
